/* General Stuff
================================================== */

html, body{
    background: #a4d53e url('../img/bg.png');
}

body {
    font-size:   16px;
    line-height: 20px;
    padding:     20px 0 60px 0;
}

::-moz-selection {
    background: #84b51e;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #84b51e;
    color: #fff;
    text-shadow: none;
}

p {
    font-size:   inherit;
    line-height: inherit;
    margin:      0 0 20px 0;
}

.container {
    -webkit-transition: 0.1s linear all;
       -moz-transition: 0.1s linear all;
        -ms-transition: 0.1s linear all;
         -o-transition: 0.1s linear all;
            transition: 0.1s linear all;
}

.block {
    float:      left;
    width:      260px;
    height:     260px;
    margin:     10px;
    border:     20px solid #f3f3f3;
    background: #f3f3f3;
    position:   relative;
    overflow:   hidden;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

h1 {
    text-align:     left;
    text-transform: none;
    font-size:      52px;
    line-height:    45px;
    letter-spacing: -2px;
    margin-bottom:  24px;
}

h2 {
    font-size:      31px;
    line-height:    30px;
    letter-spacing: -1px;
    margin-bottom:  20px;
}

.daftcow {
    margin:  0 auto 0 auto;
    display: block;
}

.contact {
    list-style: none;
    margin: 0;
}

.contact li {
    float:  left;
    margin: 0 0 0 10px;
}

.contact :first-child {
    margin-left: 0;
}

.contact a {
    display:    block;
    width:      80px;
    height:     80px;
    background: #999;
}

.contact a:hover {
    background: #ccc;
}



/* Media Queries
================================================== */

.container { width: 320px; }

@media screen and (min-width:400px) {
    .container { width: 320px; }
}

@media screen and (min-width:700px) {
    .container { width: 640px; }
}

@media screen and (min-width:1000px) {
    .container { width: 960px; }
}
