
/* Some nice defaults
================================================== */

html, body {
    height: 100%;
    overflow: visible;
    background: #999;
}

#wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    margin:   0;
    padding:  0;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
}

img {
    -ms-interpolation-mode: bicubic;
}


/* Main Styles
================================================== */

.nav {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 999;
}

.slides {
    margin:     0;
    list-style: none;
    display:    block;
    width:      100%;
    height:     100%;
    clear:      both;
}

.slides li {
    position: absolute;
    display: block;
    width:  100%;
    height: 100%;
    background-position: center center;
    background-repeat:   no-repeat;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}





/* BGs
================================================== */

#tea   { background-image: url('/img/projects/tea.jpg');  }
#girl  { background-image: url('/img/projects/girl.jpg'); }
#seat  { background-image: url('/img/projects/seat.jpg'); }









/* Shadow
================================================== */

.box-shadow {
    box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.4);
}





/* Micro Clearfix
   http://nicolasgallagher.com/micro-clearfix-hack/
================================================== */


/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after { clear: both; }
.cf { zoom: 1; }



