/* Laura McCartney's wonderful CSS
================================================== */


/* The main body of the document */
body {
    background-color: #ffa335 ;
    background-image: url('../img/bg.png');
    background-attachment: fixed;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
}


/* Every blocky white square thing */
div.boxy, .boxy li {
    color:          #999;
    background:     #fff;
    line-height:    1.125em; /* The closest thing to leading CSS has */
    display:        block;
    cursor:         pointer;
    overflow:       hidden;
    font-weight:    bold;
    text-rendering: optimizeLegibility; /* Properly kerns letters */

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}


/* The box every single small thumbnail is inside */
.boxy li {
    position: relative;
}

/* The thumbnail that is currently visible in the lightbox */
.boxy li.selected {
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,1);
       -moz-box-shadow: 0px 0px 10px rgba(255,255,255,1);
            box-shadow: 0px 0px 10px rgba(255,255,255,1);
}


/* All images inside every box - Make them the full size of the box */
.boxy img {
    position:   absolute;
    top:        0;
    right:      0;
    bottom:     0;
    left:       0;
    margin:     auto;
    max-height: 100%;
    max-width:  100%;
}


/* The container for the boxes in the main grid view */
.grid {
    margin: 0;
}


/* Each individual box in the main grid view */
.grid li {
    float:     left;
    width:     240px;
    height:    240px;
    margin:     10px;
    padding:    10px 10px 10px 13px;
    font-size:  39px;
    letter-spacing: -1px;
}


/* The container for the boxes in the right-side navigation */
.navigation {
    float:  right;
    width:  110px;
    margin:  10px 10px 20px 0;
}


/* Each indiviual box in the right-side navigation */
.navigation li {
    width:     110px;
    height:    110px;
    font-size:  16px;
    padding:     9px;
    margin:     0 0 10px 0;
}


/* The full size lightbox when viewing an image */
.lightbox {
    text-align: center;
    position:   fixed;
    top:         30px;
    right:      150px;
    bottom:      30px;
    left:        30px;
}


/* hides the selection color when you try to select text */
::-moz-selection { background: transparent; }
::selection      { background: transparent; }


.hidden {
    display: none !important;
}
