/* General Stuff
================================================== */

html, body {
    background: #ffa335 url('../img/bg.png');
}

body {
    font-size: 16px;
    padding:   20px;
}

p {
    color:  #666;
    margin: 10px;
}

h1 {
    color:  #888;
    margin: 10px;
    font-size: 38px;
    letter-spacing: -1px;
}


/* Page structure
================================================== */

.blocks {
    padding: 0;
    margin:  0 auto;
}

.blocks li,
.gallery li {
    float:      left;
    margin:     10px;
    background: #fff;
    overflow:   hidden;
    list-style: none;
    display:    block;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.blocks li {
    width:      240px;
    height:     240px;
}

.gallery li.focused {
    position:   fixed;
    top:        20px;
    right:      150px;
    bottom:     20px;
    left:       20px;
    text-align: center;
}

.gallery li.focused img {
    position:   absolute;
    top:        0;
    right:      0;
    bottom:     0;
    left:       0;
    margin:     auto;
    max-height: 100%;
    max-width:  100%;
}

.gallery li.unfocused {
    width:  110px;
    height: 110px;
    float:  right;
    clear:  both;
}



/* Fancy Selection Colours
================================================== */

::-moz-selection {
    background: #ff8800;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #ff8800;
    color: #fff;
    text-shadow: none;
}
